<main>
    <!-- Desktop View -->
    <div class="hidden md:flex justify-center items-center w-full">
        <div class="flex flex-col items-center md:w-1/3 lg:w-1/2">
            <img src="assets/logo-nobg.png" alt="Image description">
            <div class="m-5"><span class="font-bold">Owner:</span> <span class="italic">Jason Carniello Owner/Operator
                    <br />
                    <span class="font-bold">Contact:</span> 7056629603 <br />
                    <span class="font-bold italic">Address:</span> 168 Meadowbrook Rd P0M 1B0
                </span>
            </div>
        </div>
        <div class="flex ml-16 items-center md:w-2/3 lg:w-1/3">
            <ul>
                <li class="m-5"><span class="italic"><span class="font-bold">Welcome to J & L Precision
                            Renovations</span> where your vision becomes our mission.
                        With 14 years of experience in the construction industry, we are a trusted general contractor
                        dedicated to delivering exceptional craftsmanship and outstanding customer service. From
                        residential homes to commercial projects, we have built a reputation for reliability, precision,
                        and innovation in every job we undertake.</span></li>
                <li class="m-5"><span class="font-bold">Who We Are:</span> <span class="italic">J & L Precision
                        Renovations was founded on the principles of integrity, hard work, and attention to detail.
                        Whether it’s new construction, renovations, or project management, we bring a personalized
                        approach to every project, ensuring our clients’ needs are met at every step.</span></li>
                <li class="m-5"><span class="font-bold">Why Choose Us?</span> <span class="italic">At J & L Precision
                        Renovations we don’t just build structures—we build relationships. Our hands-on approach,
                        combined with our passion for excellence, ensures every project is completed with care,
                        precision, and pride.
                        Let us bring your vision to life. Contact us today to start building the future together.</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Mobile View -->
    <div class="flex flex-col md:hidden w-full justify-center items-center">
        <div class="items-center">
            <ul>
                <li class="m-5 text-lg"><span class="italic"><span class="font-bold">Welcome to J & L Precision
                            Renovations</span> where your vision becomes our mission.
                        With 14 years of experience in the construction industry, we are a trusted general contractor
                        dedicated to delivering exceptional craftsmanship and outstanding customer service. From
                        residential homes to commercial projects, we have built a reputation for reliability, precision,
                        and innovation in every job we undertake.</span></li>
                <li class="m-5 text-lg"><span class="font-bold">Who We Are:</span> <span class="italic">J & L Precision
                        Renovations was founded on the principles of integrity, hard work, and attention to detail.
                        Whether it’s new construction, renovations, or project management, we bring a personalized
                        approach to every project, ensuring our clients’ needs are met at every step.</span></li>
                <li class="m-5 text-lg"><span class="font-bold">Why Choose Us?</span> <span class="italic">At J & L Precision
                        Renovations we don’t just build structures—we build relationships. Our hands-on approach,
                        combined with our passion for excellence, ensures every project is completed with care,
                        precision, and pride.
                        Let us bring your vision to life. Contact us today to start building the future together.</span>
                </li>
            </ul>
        </div>
        <div class="flex w-full items-center">
            <img src="assets/logo-nobg.png" alt="J & L Precisiiion Renovations" class="object-cover mb-4">
        </div>
        <div class="flex flex-col mb-5 w-full justify-center items-center text-lg">
                <p><span class="font-bold">Owner:</span> <span class="italic">Jason Carniello</span></p>
                <p><span class="font-bold">Contact:</span> <span>7056629603</span></p>
                <p><span class="font-bold">Address:</span> <span> 168 Meadowbrook Rd P0M 1B0</span></p>
            </span>
        </div>
    </div>
</main>