<section>
    <!-- Desktop View -->
    <div class="hidden md:flex w-full">
        <div class="flex flex-col justify-start w-1/5 border-r-2 border-black min-h-screen" x-data="getBlogs">
            <input type="text" class="w-full" placeholder="Search" x-ref="searchInput" x-model="search"
                x-on:keydown.window.prevent.slash="$refs.searchInput.focus()" />
            <li class="w-full list-none mt-5">
                <template x-for="blog in filteredBlogs">
                    <ul class="ml-5 hover:underline" x-on:click="loadBlog(blog)" x-text="blog.name">
                    </ul>
                </template>
            </li>
        </div>
        <div id="blog" class="flex w-4/5 justify-center">
            <div class="min-h-screen flex items-center">
                Start your first read 😊
            </div>
        </div>
    </div>
    <!-- Mobile View-->
    <div class="flex flex-col md:hidden w-full">
        <div class="flex justify-center m-5 underline text-2xl">
            <h1>Select a blog to read</h1>
        </div>
        <div class="flex w-full" x-data="getBlogs">
            <div class="flex w-2/5 justify-start items-start">
                <input type="text" class="w-full" placeholder="Search" x-ref="searchInput" x-model="search"
                    x-on:keydown.window.prevent.slash="$refs.searchInput.focus()" />
            </div>
            <div class="flex w-4/5 border-l-2 min-h-screen border-black justify-center">
                <li class="list-none">
                    <template x-for="blog in filteredBlogs">
                        <ul class="mt-1 mb-1 text-2xl hover:underline" x-on:click="mobileClick(blog.url)"
                            x-text="blog.name">
                        </ul>
                    </template>
                </li>
            </div>
        </div>
    </div>
</section>
<script>
    function mobileClick(url) {
        document.location.href = `/blogs${url}`;
    };
    function loadBlog(e) {
        fetch(`/blogs/partials/${e.url}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.text().then(data => ({
                    status: response.status,
                    data: data
                }));
            })
            .then(result => {
                console.log('Status:', result.status);
                document.getElementById('blog').innerHTML = result.data;
            })
            .catch(error => {
                console.error('Fetch error:', error);
                document.getElementById('blog').innerHTML = `
                 <main>
                    <div class="flex flex-col items-center justify-center min-h-screen">
                        <h1 class="font-bold">I couldn't find that blog...</h1>
                    </div>
                </main>
                `;
            });
    };
    function getBlogs() {
        return {
            search: '',
            allBlogs: blogs,
            get filteredBlogs() {
                if (!this.search) {
                    return this.allBlogs;
                }
                return this.allBlogs.filter(blog => {
                    return blog.name.toLowerCase().includes(this.search.toLowerCase());
                });
            },
        };
    };
    const blogs = [
        { name: 'Git Init', url: '/blog-1.html' }
    ];
</script>
</script>