<main class="flex flex-col items-center justify-center w-full h-screen text-center">
    <h1 class="font-bold mb-4 text-2xl">Pat Legault's Website</h1>
    <img src="assets/engineer-debugging.jpg" alt="Software Engineering" class="object-cover mb-4">
    <div class="mt-5 w-2/3">
        <p class="italic">My name is Patrique and I am a software support engineer. I have a passion for coding and I am always
        looking for new challenges. I am currently working at <a href="https://www.adobe.com/" target="_blank"
            class="text-blue-500">Adobe</a> as a software support engineer.</p>
    </div>
</main>