<section>
    <div class="bg-gray-50 min-h-screen flex items-center justify-center mt-5">
        <div class="w-full md:w-1/2 max-w-4xl bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="p-8">
                <div class="space-y-8">
                    <!-- Work Experience 1 -->
                    <div class="border-l-4 border-blue-500 pl-4">
                        <div class="flex justify-between items-center mb-4">
                            <h2 class="text-2xl font-semibold text-gray-800">Support Engineer</h2>
                            <span class="text-gray-600 text-sm">2021 - Present</span>
                        </div>
                        <p class="text-gray-700 font-medium mb-2 underline">Adobe Systems Inc.</p>
                        <ul class="text-gray-600 space-y-2 md:list-disc md:list-inside">
                            <li>Created training courses for new software solutions used by internal employees to debug
                                and troubleshoot</li>
                            <li>Troubleshooted complex Java enterprise solutions in order to rectify customers content
                                and serve requests adequitely</li>
                            <li>Contributed bug fixes to the engineering teams allowing them to focus on new features
                            </li>
                        </ul>
                    </div>

                    <!-- Work Experience 2 -->
                    <div class="border-l-4 border-green-500 pl-4">
                        <div class="flex justify-between items-center mb-4">
                            <h2 class="text-2xl font-semibold text-gray-800">Senior Systems Analyst</h2>
                            <span class="text-gray-600 text-sm">2019 - 2021</span>
                        </div>
                        <p class="text-gray-700 font-medium mb-2 underline">AFTIA Solutions</p>
                        <ul class="text-gray-600 space-y-2 md:list-disc md:list-inside">
                            <li>Developed responsive web applications Adobe Experience Manager Forms</li>
                            <li>Built server side Java workflows to process form data</li>
                            <li>Integrated solutions with Adobe Experience Manager allowing for seemeless data exchange
                            </li>
                        </ul>
                    </div>

                    <!-- Work Experience 3 -->
                    <div class="border-l-4 border-purple-500 pl-4">
                        <div class="flex justify-between items-center mb-4">
                            <h2 class="text-2xl font-semibold text-gray-800">Senior Developer</h2>
                            <span class="text-gray-600 text-sm">2018 - 2019</span>
                        </div>
                        <p class="text-gray-700 font-medium mb-2 underline">University of Ottawa</p>
                        <ul class="text-gray-600 space-y-2 md:list-disc md:list-inside">
                            <li>Managed a team of 8 Java Developers</li>
                            <li>Created the ICS3U secondary school course and received accreditation from the ministry
                                of Ontario</li>
                            <li>Built the initial <a class="underline text-blue-500"
                                    href="https://forms.outstem.io/uOttawa">Outstem</a> platform using the following
                                technologies</li>
                        </ul>
                    </div>
                    <div class="border-l-4 border-green-500 pl-4">
                        <div class="flex justify-between items-center mb-4">
                            <h2 class="text-2xl font-semibold text-gray-800">Senior Systems Analyst</h2>
                            <span class="text-gray-600 text-sm">2016 - 2018</span>
                        </div>
                        <p class="text-gray-700 font-medium mb-2 underline">AFTIA Solutions</p>
                        <ul class="text-gray-600 space-y-2 md:list-disc md:list-inside">
                            <li>Installed and configured Adobe Experience Manager Forms</li>
                            <li>Configured various J2EE application servers and databases</li>
                            <li>Developed workflows for customers using Adobe Workbench</li>
                        </ul>
                    </div>
                    <div class="border-l-4 border-green-500 pl-4">
                        <div class="flex justify-between items-center mb-4">
                            <h2 class="text-2xl font-semibold text-gray-800">Systems Analyst</h2>
                            <span class="text-gray-600 text-sm">2014 - 2016</span>
                        </div>
                        <p class="text-gray-700 font-medium mb-2 underline">4Point Solutions</p>
                        <ul class="text-gray-600 space-y-2 md:list-disc md:list-inside">
                            <li>Installed and configured various implementations of Adobe Experience Manager Forms</li>
                            <li>Worked with customers to install WebSphere</li>
                            <li>Built and customized various HTML5 based applications based on customer requirements
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Technical Skills -->
                <div class="mt-8 pt-6 border-t border-gray-200">
                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Technical Skills</h3>
                    <div class="grid grid-cols-3 gap-4">
                        <div class="bg-gray-100 rounded-md p-3 text-center hover:bg-blue-300">
                            <p class="font-medium text-gray-700">JavaScript</p>
                        </div>
                        <div class="bg-gray-100 rounded-md p-3 text-center hover:bg-blue-300">
                            <p class="font-medium text-gray-700">Java</p>
                        </div>
                        <div class="bg-gray-100 rounded-md p-3 text-center hover:bg-blue-300">
                            <p class="font-medium text-gray-700">Node.js</p>
                        </div>
                        <div class="bg-gray-100 rounded-md p-3 text-center hover:bg-blue-300">
                            <p class="font-medium text-gray-700">HTML</p>
                        </div>
                        <div class="bg-gray-100 rounded-md p-3 text-center hover:bg-blue-300">
                            <p class="font-medium text-gray-700">CSS</p>
                        </div>
                        <div class="bg-gray-100 rounded-md p-3 text-center hover:bg-blue-300">
                            <p class="font-medium text-gray-700">Maven</p>
                        </div>
                        <div class="bg-gray-100 rounded-md p-3 text-center hover:bg-blue-300">
                            <p class="font-medium text-gray-700">Linux</p>
                        </div>
                        <div class="bg-gray-100 rounded-md p-3 text-center hover:bg-blue-300">
                            <p class="font-medium text-gray-700">OSGi</p>
                        </div>
                        <div class="bg-gray-100 rounded-md p-3 text-center hover:bg-blue-300">
                            <p class="font-medium text-gray-700">AWS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>