<footer class="bg-black text-white p-4">
    <div class="flex justify-between items-center">
        <p>&copy; J & L Precision Renovations</p>
        <div class="flex items-start space-x-4">
            <a class="mr-5" href="https://www.instagram.com/jandlprecisionrenovations" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a class="pr-5" href="https://www.facebook.com/JandLprecisionrenovations.ca" target="_blank">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </div>
    </div>
</footer>