<header x-data="{ open: false }">
    <div class="hidden md:flex w-full justify-between items-center p-4 bg-logo-black">
        <h1 class="text-xl font-bold text-logo-grey">J & L Precision Renovations</h1>
        <div class="flex-col">
            <nav>
                <ul class="flex space-x-4">
                    <li><a class="hover:text-logo-orange text-logo-grey" href="/">Home</a></li>
                    <li><a class="hover:text-logo-orange text-logo-grey" href="/about.html">About</a></li>
                    <li><a class="hover:text-logo-orange text-logo-grey" href="/location.html">Location</a></li>
                    <li><a class="hover:text-logo-orange text-logo-grey" href="/contactus.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Mobile View -->
    <div class="flex md:hidden w-full justify-between items-center p-4 bg-black">
        <h1 class="text-xl text-logo-grey font-bold">J & L Precision Renovations</h1>
        <button @click="open = !open" class="text-white focus:outline-none">
            <!-- Icon for mobile menu button -->
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div x-show="open" class="md:hidden flex flex-col items-end w-full bg-black p-4">
        <nav>
            <ul class="flex flex-col space-y-4">
                <li><a class="hover:text-logo-orange text-logo-grey" href="/">Home</a></li>
                <li><a class="hover:text-logo-orange text-logo-grey" href="/about.html">About</a></li>
                <li><a class="hover:text-logo-orange text-logo-grey" href="/location.html">Location</a></li>
                <li><a class="hover:text-logo-orange text-logo-grey" href="/contactus.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>