<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>J & L Precision Renovations</title>
<meta name="description" content="J & L Precision Renovations – Building Excellence from the Ground Up">
<meta name="keywords" content="Sudbury, Contractors, Renovations, Construction, Home, Building, Carpentry, Framing, Drywall, Taping, Painting, Flooring, Decks, Fences, Patios, Siding, Windows, Doors, Roofing">
<meta name="author" content="Patrique Legault">

<meta property="og:image" content="assets/logo16x9.png" />
<meta property="og:locale" content="en_US" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1080" />
<meta property="og:image:height" content="1080" />
<meta property="og:image:alt" content="J & L Precision Renovations" />
<meta property="og:type" content="website" />
<meta property="og:URL" content="https://www.jandlprecisionrenovations.com" />

<!-- Include CSS -->
<link href="../css/tailwind.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    main {
        flex: 1;
    }
</style>

<!-- Include JS -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.7/dist/cdn.min.js"></script>